set_io clk12m_in 35

set_io vga_red[0] 23
set_io vga_grn[0] 25
set_io vga_red[1] 26
set_io vga_grn[1] 27
set_io vga_blu[1] 32
set_io vga_blu[0] 31
set_io vga_hsync 34
set_io vga_vsync 43

set_io spi_miso 14
set_io spi_mosi 17
set_io spi_clk 15
set_io spi_cs 16

set_io out1 3
set_io out2 4
set_io uart_tx 28
