LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "btn" SITE "P4";
IOBUF PORT "btn" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "A13";
LOCATE COMP "led[1]" SITE "A12";
LOCATE COMP "led[2]" SITE "B19";
LOCATE COMP "led[3]" SITE "A18";
LOCATE COMP "led[4]" SITE "B18";
LOCATE COMP "led[5]" SITE "C17";
LOCATE COMP "led[6]" SITE "A17";
LOCATE COMP "led[7]" SITE "B17";

IOBUF PORT "led[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS25;

LOCATE COMP "hdmi_g" SITE "C6";
LOCATE COMP "hdmi_ck" SITE "C7";
LOCATE COMP "hdmi_hs" SITE "E8";
LOCATE COMP "hdmi_r" SITE "C8";
LOCATE COMP "hdmi_b" SITE "B8";
LOCATE COMP "hdmi_de" SITE "A7";
LOCATE COMP "hdmi_vs" SITE "A8";

IOBUF PORT "hdmi_g" IO_TYPE=LVCMOS33;
IOBUF PORT "hdmi_ck" IO_TYPE=LVCMOS33;
IOBUF PORT "hdmi_hs" IO_TYPE=LVCMOS33;
IOBUF PORT "hdmi_r" IO_TYPE=LVCMOS33;
IOBUF PORT "hdmi_b" IO_TYPE=LVCMOS33;
IOBUF PORT "hdmi_de" IO_TYPE=LVCMOS33;
IOBUF PORT "hdmi_vs" IO_TYPE=LVCMOS33;

